/*TABLE OF CONTENTS*/
/*---------SECTION 0: border and test element---*/
/*---------SECTION 1 universal------------------*/
/*---------SECTION 2: <header>------------------*/
/*---------SECTION 3.0 <main>-------------------*/
/*---------SECTION 3.1 index<main>--------------*/
/*---------SECTION 3.2 contact<main>------------*/
/*---------SECTION 3.3 portfolio<main>----------*/
/*---------SECTION 4: <footer>------------------*/
/*---------SECTION 5: Graceful Decline----------*/

/*---------SECTION 0: border and test element---*/
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 1px solid black;
}*/
/*
.testLogos{
  width: 100%;
   height: 55%;
   float: right;
   display:inline;
   overflow:hidden;
}

.testSocial{
size: 100%;
}

.testThree{

}

*/
.floatLeft{
  float:left
}

/*---------SECTION 1 universal ------------------*/

nav{
  padding: 10px;
}

li{
  display: inline;
  color: #777777;
  margin: 10px;
}

.clearfix::after{
content: ””;
display: block;
clear: both;
}

.btn{
  background-color: #4aaaa5;
}



/*---------SECTION 2: <header> ------------------*/
header{
  background-color: #ffffff;
  height: 100px;
  border-bottom: 3px solid black;
  margin: 0 20px;
}

h1{
background-color: #4aaaa5;
display: inline-block;
color: white;
margin: auto;
padding: 20px;
font-size: 48px;
}

#mainTitle{
  margin: 0 30px;
}

#pageNav{
  margin: 20px 60px 0px 0px;
  padding:20px;
  font-size:22px;
  float: right;
}

/*--------- SECTION 3.0 <main> ------------------*/
main{
  margin: auto;
  width: 960px;
  background-image: url(../images/ep_naturalwhite/ep_naturalwhite.png);
  padding: 10px;
}

h2, h3{
  text-align: center;
  margin: 5px auto 5px auto;
  color:#4aaaa5;
  border-bottom: 3px solid #4aaaa5;
}

h2{
  font-size: 36px;
}

h3{
  padding:10px 0 0 0;
}

p{
  font-size: 24px;
}

.contactImageFormat{
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.imageContainer{
  overflow:none;
  height: 100%;
  width: 100%;
}

.imageSize{
  height: 50px;
  width: 50px;
}

#mainSectionLeft{
  width: 50%;
  height: 80%;
  margin: 0;
  float:left;
  background: white;
  border-radius: 5px;
  padding: 2%;
}

#mainSectionRight{
  width: 35%;
  height: 60%;
  /*margin: 0 0 100px 0;*/
  float: right;
  background: white;
  border-radius: 5px;
  padding: 0 2%;
  margin: 5% 5% 0 0;
}

/*--------- SECTION 3.1 index<main> -------------*/
.portraitImageFormat{
  width: 175px;
  height: 200px;
  margin-right: 20px;
  float:left;
  border-radius: 5px;
}
/*--------- SECTION 3.2 contact<main> -----------*/

.inputFormat{
  width:90%;
}

#messageFormat{
  height: 200px;
}

/*--------- SECTION 3.3 portfolio<main> ---------*/

.portImageSize{
  height: 100%;
  width: 100%;
  margin: 2%;
  border: 3px solid blue;
  border-radius: 5px;
}

.portImageSizeTest{
background-image:url();
  height: 150px;
  width: 150px;
  padding: 5px;
  border: 3px solid blue;
  border-radius: 5px;
}

.portfolioContainer{
  width: 30%;
  height:20%;
  position:relative;
  float: left;
  margin: 5%;
}

.buttonFormat{
  position:absolute;
  width: 100%;
  bottom: 50%;
  left: 0;
}

/*---------- SECTION 4 style for <footer> ----------*/
footer{
position:fixed;
height: 80px;
bottom: 0;
width: 90%;
margin: 0 5% 0 5%;
background-color: #666666;
border-top: 10px #4aaaa5 solid;
/*clear: both;*/
display: block;
}

h5{
  color:white;
  margin: 25px auto;
  text-align: center;
}
